In [1]:
import numpy as np
from scipy import stats

In [2]:
stats.binom_test(67, 100, 0.75, alternative='two-sided')

0.08222258891386608

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('pines.txt', sep='\t', header=0)
data.head()

      sn    we
0  200.0   8.8
1  199.3  10.0
2  193.6  22.4
3  167.7  35.6
4  183.9  45.4

In [5]:
data.describe()

               sn          we
count  584.000000  584.000000
mean    98.735274  113.829281
std     56.523154   49.810725
min      0.000000    0.000000
25%     52.050000   79.125000
50%    101.450000  121.900000
75%    149.400000  149.725000
max    200.000000  200.000000

In [24]:
s = stats.binned_statistic_2d(data['sn'], data['we'], None, statistic='count', bins=[5, 5])

In [26]:
s.statistic.reshape((25,))

array([18., 26., 29., 25., 20., 14., 12., 22., 34., 25., 12., 24., 15.,
       50., 37.,  8., 19., 31., 50.,  7.,  7.,  8., 37., 27., 27.])

In [22]:
data[(160 <= data.sn) & (data.sn <= 200) & (data.we >= 160) & (data.we <= 200)].shape

(27, 2)

In [28]:
stats.chisquare(s.statistic.reshape((25,)), [23.36] * 25, ddof = 0)

Power_divergenceResult(statistic=150.58904109589042, pvalue=2.574669774967279e-20)