In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('illiteracy.txt', header=0, sep='\t')

In [3]:
data.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [4]:
data.drop('Country', axis=1).corr()

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [5]:
from scipy import stats

In [8]:
stats.spearmanr(data[['Illit']], data[['Births']])

SpearmanrResult(correlation=0.752962213732534, pvalue=2.0858571221460674e-18)

In [9]:
stats.spearmanr(data.drop('Country', axis=1))

SpearmanrResult(correlation=0.752962213732534, pvalue=2.0858571221460674e-18)

In [10]:
data = pd.read_csv('water.txt', header=0, sep='\t')

In [11]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [12]:
data[['mortality', 'hardness']].corr()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [13]:
stats.spearmanr(data.mortality, data.hardness)

SpearmanrResult(correlation=-0.6316646189166502, pvalue=4.79546153722838e-08)

In [14]:
data[data.location == 'South'][['mortality', 'hardness']].corr()

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [15]:
data[data.location == 'North'][['mortality', 'hardness']].corr()

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

In [18]:
a = 203
b = 239
c = 718
d = 515

(- a * d + b * c) / np.sqrt( (a + b) * (a + c) * (b + d) * (c + d) )

0.10900237458678963

In [20]:
stats.chi2_contingency([[a, b], [c, d]])

(19.40753078854304,
 1.0558987006638725e-05,
 1,
 array([[243.03402985, 198.96597015],
        [677.96597015, 555.03402985]]))

In [23]:
n1 = 239 + 515
p1 = 239 / n1

n2 = 203 + 718
p2 = 203 / n2

z = stats.norm.ppf(1 - 0.05 / 2)

In [24]:
(p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ n1 + p2 * (1 - p2)/ n2)

0.053905233215813156

In [25]:
(p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ n1 + p2 * (1 - p2)/ n2)

0.13922183141523897

In [26]:
def proportions_diff_confint_ind(sample1, sample2, alpha = 0.05):    
    z = scipy.stats.norm.ppf(1 - alpha / 2.)
    
    p1 = float(sum(sample1)) / len(sample1)
    p2 = float(sum(sample2)) / len(sample2)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    
    return (left_boundary, right_boundary)

def proportions_diff_z_stat_ind(sample1, sample2):
    n1 = len(sample1)
    n2 = len(sample2)
    
    p1 = float(sum(sample1)) / n1
    p2 = float(sum(sample2)) / n2 
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)

In [28]:
import scipy

In [29]:
proportions_diff_z_test(proportions_diff_z_stat_ind([1] * 239 + [0] * 515, [1] * 203 + [0] * 718))

8.153453089576601e-06

In [32]:
stats.chi2_contingency(np.array([[197, 111, 33],
                        [382, 685, 331],
                        [110, 342, 333]]))

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[ 93.08597464, 153.74722662,  94.16679873],
        [381.6251981 , 630.318542  , 386.0562599 ],
        [214.28882726, 353.93423138, 216.77694136]]))

In [33]:
chi2 = stats.chi2_contingency(np.array([[197, 111, 33],
                        [382, 685, 331],
                        [110, 342, 333]]))

In [36]:
data = np.array([[197, 111, 33],
                        [382, 685, 331],
                        [110, 342, 333]])

In [37]:
np.sqrt(chi2[0] / (data.sum() * (min(3, 3) - 1)))

0.2412013934500338